body { 

  margin: 0; 

  font-family: Arial, Helvetica, sans-serif; 

  background-color: #f6f5fa; 

  color: #0057bb; 

} 

header { 

    background-color: #4b28b5; 
  
    color: white; 
  
    text-align: center; 
  
    padding: 20px; 
  
  } 